<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="logPrefix" value="RENT_DATABASE_LOGGING"/>
		<setting name="logImpl" value="LOG4J"/>
	</settings>

	<environments default="rents-dev">
		<environment id="rents-dev">
			<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
					<property name="driver" value="${database.driver}"/>
					<property name="url" value="${database.url}${database.name}"/>
					<property name="username" value="${database.username}"/>
					<property name="password" value="${database.password}"/>
				</dataSource>
		</environment>
		
		<environment id="rents-test">
			<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
					<property name="driver" value="${database.driver}"/>
					<property name="url" value="${database.url}${database.name}"/>
					<property name="username" value="${database.username}"/>
					<property name="password" value="${database.password}"/>
				</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="database/mappers/AddressMapper.xml"/>
  		<mapper resource="database/mappers/RentMapper.xml"/>
  		<mapper resource="database/mappers/RentFavoriteMapper.xml"/>
  		<mapper resource="database/mappers/AccountMapper.xml"/>
	</mappers>

</configuration>