<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- Internal listeners -->
	<listener>
		<listener-class>ro.fizbo.rents.listener.ApplicationManager</listener-class>
	</listener>
	
    <!-- External servlets -->
    <servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>ro.fizbo.rents.webservice, ro.fizbo.rents.storage.webservice</param-value>
		</init-param>
		<init-param>
    		<param-name>javax.ws.rs.Application</param-name>
    		<param-value>ro.fizbo.rents.ResourcesRegistrar</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	
	<!-- Enable CORS for the responses that go to fizboapp.co.uk 
	<filter>
   		<filter-name>CORS</filter-name>
    	<filter-class>ro.fizbo.rents.webservice.response.CustomResponseFilter</filter-class>
    </filter>
	<filter-mapping>
    	<filter-name>CORS</filter-name>
    	<url-pattern>/ws/*</url-pattern>
	</filter-mapping>-->
<!--
	<servlet>
		<servlet-name>deeplinksfallback</servlet-name>
		<servlet-class>ro.fizbo.rents.servlet.DeepLinksFallbackServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>deeplinksfallback</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
-->
  
</web-app>
