<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="RentFavoriteMapper">
    <delete id="deleteFavoriteRents" parameterType="ro.fizbo.rents.dao.param.RentsFavorites">
    	delete from rent_favorite where accountId=#{accountId} and rentId in 
    	<foreach collection="rentIds" item="item" index="index" open="(" close=")" separator=",">
    		#{item}
    	</foreach>
    </delete>
</mapper>