<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="RentMapper">

   <resultMap id="LightRentMap" type="ro.fizbo.rents.model.Rent">
   		<constructor>
   			<idArg column="rentId" javaType="int"/>
   		</constructor>
        <id property="rentId" column="rentId"/>
        <result property="rentPrice" column="rentPrice"/>
        <result property="rentSurface" column="rentSurface"/>
        <result property="rentRooms" column="rentRooms"/>
        <result property="rentBaths" column="rentBaths"/>
        <result property="rentType" column="rentType"/>
        <result property="rentArchitecture" column="rentArchitecture"/>
        <result property="rentAddDate" column="rentAddDate"/>
        <result property="rentStatus" column="rentStatus"/>
        <association property="address" javaType="ro.fizbo.rents.model.Address">
            <id property="addressId" column="addressId"/>
            <result property="addressStreetName" column="addressStreetName"/>
            <result property="addressNeighbourhood" column="addressNeighbourhood"/>
            <result property="addressLatitude" column="addressLatitude"/>
            <result property="addressLongitude" column="addressLongitude"/>
        </association>
        <collection property="rentImages" javaType="java.util.List"
        	ofType="ro.fizbo.rents.model.RentImage">
        	<result property="rentImageId" column="rentImageId"/>
        	<result property="rentImageURI" column="rentImageURI"/>
        </collection>
    </resultMap>
    
    <resultMap id="FullRentMap" type="ro.fizbo.rents.model.Rent">
   		<constructor>
   			<idArg column="rentId" javaType="int"/>
   		</constructor> 
        <id property="rentId" column="rentId"/>
        <result property="accountId" column="accountId"/>
        <result property="rentPrice" column="rentPrice"/>
        <result property="rentSurface" column="rentSurface"/>
        <result property="rentRooms" column="rentRooms"/>
        <result property="rentBaths" column="rentBaths"/>
        <result property="rentParty" column="rentParty"/>
        <result property="rentType" column="rentType"/>
        <result property="rentArchitecture" column="rentArchitecture"/>
        <result property="rentAge" column="rentAge"/>
        <result property="rentDescription" column="rentDescription"/>
        <result property="rentPetsAllowed" column="rentPetsAllowed"/>
        <result property="rentPhone" column="rentPhone"/>
        <result property="rentAddDate" column="rentAddDate"/>
        <result property="rentStatus" column="rentStatus"/>
        <association property="address" javaType="ro.fizbo.rents.model.Address">
            <id property="addressId" column="addressId"/>
            <result property="addressStreetNo" column="addressStreetNo"/>
            <result property="addressStreetName" column="addressStreetName"/>
            <result property="addressNeighbourhood" column="addressNeighbourhood"/>
            <result property="addressSublocality" column="addressSublocality"/>
            <result property="addressLocality" column="addressLocality"/>
            <result property="addressAdmAreaL1" column="addressAdmAreaL1"/>
            <result property="addressCountry" column="addressCountry"/>
            <result property="addressLatitude" column="addressLatitude"/>
            <result property="addressLongitude" column="addressLongitude"/>
            <result property="addressBuilding" column="addressBuilding"/>
            <result property="addressStaircase" column="addressStaircase"/>
            <result property="addressFloor" column="addressFloor"/>
            <result property="addressAp" column="addressAp"/>
        </association>
        <collection property="rentImages" javaType="java.util.List" 
        	ofType="ro.fizbo.rents.model.RentImage">
        	<result property="rentImageId" column="rentImageId"/>
        	<result property="rentId" column="rentId"/>
        	<result property="rentImageURI" column="rentImageURI"/>
        </collection>
    </resultMap>
    
    <resultMap id="LightRentFavoriteViewMap" type="ro.fizbo.rents.model.view.RentFavoriteView">
        <result property="rentFavoriteAddDate" column="rentFavoriteAddDate" />
        <association property="rent" resultMap="LightRentMap" />
    </resultMap>
    
    <update id="updateRentsStatus" parameterType="ro.fizbo.rents.dao.param.RentsStatus" >
    	update rent set rentStatus=#{status} where rentId in
    	<foreach collection="rentIds" item="item" index="index" open="(" close=")" separator=",">
    		#{item}
    	</foreach>
    </update>
    
    <update id="updateRent" parameterType="ro.fizbo.rents.model.Rent">
    	update rent
    	<set>
    		<if test="rentPrice != null">rentPrice=#{rentPrice},</if>
    		<if test="rentSurface != null">rentSurface=#{rentSurface},</if>
    		<if test="rentRooms != null">rentRooms=#{rentRooms},</if>
    		<if test="rentBaths != null">rentBaths=#{rentBaths},</if>
    		<if test="rentParty != null">rentParty=#{rentParty},</if>
    		<if test="rentType != null">rentType=#{rentType},</if>
    		<if test="rentArchitecture != null">rentArchitecture=#{rentArchitecture},</if>
    		<if test="rentAge != null">rentAge=#{rentAge},</if>
    		<if test="rentDescription != null">rentDescription=#{rentDescription},</if>
    		<if test="rentPetsAllowed != null">rentPetsAllowed=#{rentPetsAllowed},</if>
    		<if test="rentPhone != null">rentPhone=#{rentPhone},</if>
    		<if test="rentAddDate != null">rentAddDate=#{rentAddDate}</if>
    	</set>
    	where rentId=#{rentId}
    </update>

</mapper>